*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: hidden;
}
html,body{
    width:100%;
    height:100%;
}
#main{
    height:100%;
    width:100%;
    display: flex;
}
#left{
    width:40%;
    height:100%;
    background-color:#0B5273;
    font-size: 25px;
    
}
#right{
    width:60%;
    height:100%;
    background-color: #0B5273;
}
#content{
    width:100%;
    height:100%;
    background-color: #CFE2E4;
    color: black;
    text-transform: uppercase;
    line-height: 6em;
    font-size: 10px;
    
}
#title{
    font-size:2em ;
    display: flex;
    justify-content: center;
    background-color:#0B5273;
    border-left: 1px solid #CFE2E4;
    border-right: 1px solid #CFE2E4;
    color:#CFE2E4
}
#rules h2{
    font-weight: 900;
    font-size: 2em;
}
#rules h3{
    font-weight: 500;
    font-size: 2em;
}
button{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    padding:10px;
    background-color: #0B5273;
    color:#CFE2E4;
    text-transform: uppercase;
    font-size: 2.6em;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: underline;
}
button:hover{
    background-color: #052e41;
}
@media (max-width:880px) {
    #left{
        font-size: 15px;
    
    }
    #content{
        line-height: 4em;
    }
    
}